@import 'variables.scss';

:host {
  display: block;
  font-size: 0.75rem;
}
.reading-list {
  padding: $spacing-xxs;
}

.reading-list-item {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-xs;
  width: 100%;

  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.reading-list-item--cover {
  max-width: 36px;
  max-height: 36px;
  margin-right: $spacing-xxs;
}

.reading-list-item--details {
  flex: 1;
  min-width: 0;
  margin-right: $spacing-xxs;
}

.reading-list-item--details--title,
.reading-list-item--details--author,
.reading-list-item--details--finished {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.empty {
  font-weight: 100;
  font-size: 1rem;
  color: $gray60;
}
.reading-list-item--details--finished {
    font-size: 0.8rem;
    color:green;
} 

.reading-list-item--details--finished-color {
  color:$pink-accent;
  cursor: pointer;
} 
